<!doctype html>
<html lang="en">

	<head>
		<title>Mahbub | Software Engineer</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="author" content="Webestica.com">
		<meta name="description" content="Creative Multipurpose Bootstrap Template">
		<!-- Favicon -->
		<link rel="shortcut icon" href="assets/images/favicon.ico">

		<!-- Google Font -->
		<link
			href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900%7CPlayfair+Display:400,400i,700,700i%7CRoboto:400,400i,500,700"
			rel="stylesheet">

		<!-- Plugins CSS -->
		<link rel="stylesheet" type="text/css"
			href="assets/vendor/font-awesome/css/font-awesome.min.css" />
		<link rel="stylesheet" type="text/css"
			href="assets/vendor/themify-icons/css/themify-icons.css" />
		<link rel="stylesheet" type="text/css"
			href="assets/vendor/animate/animate.min.css" />
		<link rel="stylesheet" type="text/css"
			href="assets/vendor/fancybox/css/jquery.fancybox.min.css" />
		<link rel="stylesheet" type="text/css"
			href="assets/vendor/owlcarousel/css/owl.carousel.min.css" />

		<!-- Theme CSS -->
		<link rel="stylesheet" type="text/css" href="assets/css/style.css" />

	</head>

	<body>
		<div class="preloader">
		</div>


		<!-- =======================
	header Start-->
		<header class="header-static navbar-sticky navbar-light">


			<!-- Logo Nav Start -->
			<nav class="navbar navbar-expand-lg">
				<div class="container">
					<!-- Logo -->
					<a class="navbar-brand" href="">
						<p> <span><img src="assets/images/mahbub.jpg"
									style='clip-path:circle();height:40px;width:50px;' alt=""></span>
							<span style="color:tomato;">MAHBUB </span></p>

						
					</a>



					<!-- Main Menu Start -->
					<div class="collapse navbar-collapse" id="navbarCollapse">
						<ul class="navbar-nav ml-auto">

							<!-- Menu item 2 Blog-->
							<li class="nav-item dropdown">
								<a class="nav-link" href="#home" id="blogMenu" data-toggle="home"
									data-target="#homepage" aria-haspopup="true"
									aria-expanded="false">Home</a>

							</li>


							<li class="nav-item dropdown">
								<a class="nav-link" href="#about" id="blogMenu" data-toggle="home"
									data-target="#homepage" aria-haspopup="true"
									aria-expanded="false">About</a>

							</li>


							<li class="nav-item dropdown">
								<a class="nav-link" href="#service" id="blogMenu" data-toggle="home"
									data-target="#homepage" aria-haspopup="true"
									aria-expanded="false">Service</a>

							</li>
							<li class="nav-item dropdown">
								<a class="nav-link" href="#protfolio" id="blogMenu"
									data-toggle="home" data-target="#homepage" aria-haspopup="true"
									aria-expanded="false">portfolio</a>

							</li>

							<li class="nav-item dropdown">
								<a class="nav-link" href="#contact" id="blogMenu" data-toggle="home"
									data-target="#homepage" aria-haspopup="true"
									aria-expanded="false">Contact</a>
							</li>



						</ul>
					</div>

				</div>
			</nav>


		</header>
		<!-- =======================
	header End-->

		<!-- =======================
	Main Banner -->
		<section class="home p-0 position-relative" id="homepage">
			<div class="container-fluid d-flex h-100 w-100"
				style="background-color:rgb(156,176,167);">
				<div class="row justify-content-between align-items-center w-100">
					<!-- banner image -->
					<div class="col-md-5 d-none d-md-block p-0">
						<figure class="w-100 ie-height-900">
							<img src='assets/images/service/mahbub1.jpg'
								style="overflow:visible;" />



						</figure>
					</div>


					<!-- banner Content -->
					<div class="col-md-7 offset-lg-1 col-lg-5 mt-5 mt-md-0 mr-auto"
						id="home">
						<h6>— Welcome to my world</h6>
						<h5 class="display-6 display-xl-4 font-weight-normal cd-headline clip
							clip-dark big-clip is-full-width">
							<span class="pt-0">Hello, I am Mahbub</span><br>
							<span class="pt-0">Alam,I am a</span>
							<span class="cd-words-wrapper pt-0 text-primary">
								<b class="is-visible"> Web-Developer</b>
								<b>Web-Designer</b>
								<b>software Engineer</b>
							</span>
						</h5>

						<div>
							<a class="btn btn-grad mr-4 mb-3 mb-sm-0" href="#about">Know more
								about me!</a>
						</div>
					</div>

					<!-- banner right objects -->
					<div class="col-md-2 d-none d-lg-block p-0 position-absolute right-0
						top-0 z-index-n9">
						<figure class="w-100 ie-height-900">
							<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
								xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
								viewBox="0 0 326 800" enable-background="new 0 0 326 800"
								xml:space="preserve">
								<defs>
									<linearGradient id="BgGradientRight">
										<stop class="fill-grad-start" offset="0%" />
											<stop class="fill-grad-end" offset="100%" />
											</linearGradient>
										</defs>
										<polygon fill="url(#BgGradientRight)" points="0,0 -60,0 60.3,49.9
											-56.2,49.9" />
											<rect x="120" y="350" fill="#f0f2f9" width="100" height="10" />
												<rect x="120" y="330" fill="#f0f2f9" width="100" height="10" />
													<rect x="120" y="310" fill="#f0f2f9" width="100" height="10"
														/>
														<circle fill="none" stroke="url(#BgGradientRight)"
															stroke-width="8" stroke-miterlimit="10" cx="147.5" cy="700"
															r="32" />
														</svg>
													</figure>
												</div>
											</div>
										</div>
									</section>
									<!-- =======================
	Main banner -->


									<section class="pt-5" style="background-color:rgb(235, 229, 238)"
										id="about">
										<div>
											<div class="container">
												<div class="row">
													<div class="col-md-8 mx-auto text-center mb-3">
														<h2 class="h1">About</h2>
														<h2 class="h4">Some Talk About Me</h2>
													</div>
												</div>
												<div class="row">
													<div class="col-md-6">
														<div class="mb-lg-n8 mb-0 container"
															style="background-color:white">
															<p style='font-size:20px;font-weight:bold;padding: top70px;
																font-family: serif;'>

																<!-- <img class="w-75 mx-auto" src="assets/images/mahbub (2).jpg" alt="" style="clip-path: circle();height:180px;width:200px;"> -->
																Hi! My name is Mahbub Alam. I live in Dhaka which is the
																capital of Bangladesh.
																I come from another city-Nagaon, Rajshahi.
																I have done my SSC in semanto public high school Naogaon
																and also did my Hsc in Nagaon govt college, Naogaon.
																I have completed my BSC In the Computer Science &
																Engineering(CSE) of daffodil
																International University with a GPA of 3.71. now I am
																starting as a junior
																full-stack developer in Peart Technology Ltd which is a
																software and It solution company. In this position, I have
																learned many new technologies.
																I have done some interesting projects on the team. And I
																have done some interesting small projects individually. I
																have worked on python, and Django microservice projects
																and also done some Ecommerce projects in react.js and
																vanilla javascript. I am a quick learner and passionate to learn
																new technology. I am responsible for my
																work always. I am always ready to face new challenges. Now I
																prepare myself to work with the team and individually. Now my
																main focus is to
																get a good job in a reputed company and innovation some new and
																interesting things.

															</p>
														</div>
													</div>

													<div class="col-md-6" style="background-color:tomato;">
														<div class="title mb-0">
															<h2>My professional skill</h2>
															<p style="color:white;font-size: 20px;">Web Design and
																Development</p>
														</div>
														<div class="skill skill-red skill-sm"
															style='margin-bottom:20px;'>
															<div class="skill-wrap">
																<div class="skill-item">
																	<p style="font-size: 20px;color:white;">HTML / HTML5</p>
																	<div class="progress">
																		<div class="progress-bar wow fadeInLeft"
																			data-wow-duration="1s" data-wow-delay=".5s"
																			role="progressbar" aria-valuenow="85" aria-valuemin="0"
																			aria-valuemax="100" style="width:85%"><span
																				class="skill-percent">95%</span>
																		</div>
																	</div>
																</div>
																<div class="skill-item">
																	<p style="font-size: 20px;color:white;">CSS / CSS5</p>
																	<div class="progress">
																		<div class="progress-bar wow fadeInLeft"
																			data-wow-duration="1s" data-wow-delay=".5s"
																			role="progressbar" aria-valuenow="70" aria-valuemin="0"
																			aria-valuemax="100" style="width:70%"><span
																				class="skill-percent">90%</span>
																		</div>
																	</div>
																</div>
																<div class="skill-item">
																	<p style="font-size: 20px;color:white;">JavaScript</p>
																	<div class="progress">
																		<div class="progress-bar wow fadeInLeft"
																			data-wow-duration="1s" data-wow-delay=".6s"
																			role="progressbar" aria-valuenow="90" aria-valuemin="0"
																			aria-valuemax="100" style="width:90%"><span
																				class="skill-percent">90%</span>
																		</div>
																	</div>
																</div>


																<div class="skill-item">
																	<p style="font-size: 20px;color:white;">React.js</p>
																	<div class="progress">
																		<div class="progress-bar wow fadeInLeft"
																			data-wow-duration="1s" data-wow-delay=".7s"
																			role="progressbar" aria-valuenow="65" aria-valuemin="0"
																			aria-valuemax="100" style="width:85%"><span
																				class="skill-percent">90%</span>
																		</div>
																	</div>
																</div>

																<div class="skill-item">
																	<p style="font-size: 20px;color:white;">JQuery</p>
																	<div class="progress">
																		<div class="progress-bar wow fadeInLeft"
																			data-wow-duration="1s" data-wow-delay=".6s"
																			role="progressbar" aria-valuenow="90" aria-valuemin="0"
																			aria-valuemax="100" style="width:90%"><span
																				class="skill-percent">90%</span>
																		</div>
																	</div>
																</div>

																<div class="skill-item">
																	<p style="font-size: 20px;color:white;">Python/Django</p>
																	<div class="progress">
																		<div class="progress-bar wow fadeInLeft"
																			data-wow-duration="1s" data-wow-delay=".7s"
																			role="progressbar" aria-valuenow="85" aria-valuemin="0"
																			aria-valuemax="100" style="width:85%"><span
																				class="skill-percent">95%</span>
																		</div>
																	</div>
																</div>

																<div class="skill-item">
																	<p style="font-size: 20px;color:white;">Rest Api</p>
																	<div class="progress">
																		<div class="progress-bar wow fadeInLeft"
																			data-wow-duration="1s" data-wow-delay=".7s"
																			role="progressbar" aria-valuenow="65" aria-valuemin="0"
																			aria-valuemax="100" style="width:75%"><span
																				class="skill-percent">85%</span>
																		</div>
																	</div>
																</div>

															</div>
														</div>
													</div>

												</div>
											</div>
										</div>
										<div style="text-align: center;padding-top:15px">

											<a class="btn btn-grad mr-4 mb-3 mb-sm-0" style="width:200px"
												href="#">Hire
												Me!</a>
										</div>
									</div>

									<!-- =======================
	Portfolio -->

									<!-- =======================
	Clients -->

									<section class="p-0 pt-4">
										<div class="container">
											<div class="row">
												<div class="col-12">
													<div class="bg-light p-3 p-md-5 border-radius-3 text-center">
														<div class="owl-carousel owl-grab arrow-hover arrow-dark"
															data-arrow="false" data-dots="false" data-items-xl="6"
															data-items-lg="5" data-items-md="4" data-items-sm="3"
															data-items-xs="2" data-autoplay="4000">
															<div class="item"><img class="w-75 mx-auto"
																	src="assets/images/clients/01.png" alt=""></div>
															<div class="item"><img class="w-75 mx-auto"
																	src="assets/images/clients/02.png" alt=""></div>

															<div class="item"><img class="w-75 mx-auto"
																	src="assets/images/clients/08.png" alt=""></div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</section>


									<br/>
										<br/>

											<!-- =======================
	Clients -->

											<!-- =======================
	About us -->
											<section class="bg-light" id="service">
												<div class="container">
													<div class="row">
														<div class="col-md-8 mx-auto text-center mb-5">
															<h2 class="h1 font-weight-bold">Services</h2>
															<h5>I provide innovative ideas, designs, and multimedia
																solutions . </h5>
														</div>
													</div>
													<div class="row">
														<div class="col-sm-6 col-lg-3 mb-4 mb-lg-0">
															<div class="shadow-hover h-100 bg-white px-5 pt-0 pb-5
																text-center up-on-hover">
																<span class="alt-font text-light-gray display-2 font-italic
																	opacity-2">01</span>
																<span class="d-block mb-4"><i class="ti-ruler-pencil mb-3
																		display-2 text-grad"></i></span>
																<a class="h5" href="#">Web Design</a>
															</div>
														</div>
														<div class="col-sm-6 col-lg-3 mb-4 mb-lg-0">
															<div class="shadow-hover h-100 bg-white px-5 pt-0 pb-5
																text-center up-on-hover">
																<span class="alt-font text-light-gray display-2 font-italic
																	opacity-2">02</span>
																<span class="d-block mb-4"><i class="ti-image mb-3
																		display-2 text-grad"></i></span>
																<a class="h5" href="#">Web Development</a>
															</div>
														</div>
														<div class="col-sm-6 col-lg-3 mb-4 mb-lg-0">
															<div class="shadow-hover h-100 bg-white px-5 pt-0 pb-5
																text-center up-on-hover">
																<span class="alt-font text-light-gray display-2 font-italic
																	opacity-2">03</span>
																<span class="d-block mb-4"><i class="ti-desktop mb-3
																		display-2 text-grad"></i></span>
																<a class="h5" href="#">Software Development</a>
															</div>
														</div>
														<div class="col-sm-6 col-lg-3 mb-4 mb-lg-0">
															<div class="shadow-hover h-100 bg-white px-5 pt-0 pb-5
																text-center up-on-hover">
																<span class="alt-font text-light-gray display-2 font-italic
																	opacity-2">04</span>
																<span class="d-block mb-4"><i class=" ti-shopping-cart mb-3
																		display-2 text-grad"></i></span>
																<a class="h5" href="#">Eccomarce Solution</a>
															</div>
														</div>

														<div class="col-sm-6 col-lg-3 mb-4 mb-lg-0">
															<div class="shadow-hover h-100 bg-white px-5 pt-0 pb-5
																text-center up-on-hover">
																<span class="alt-font text-light-gray display-2 font-italic
																	opacity-2">05</span>
																<span class="d-block mb-4">
																	<i class="ti-menu
																	mb-3
																		display-2 text-grad">
																	</i></span>
																<a class="h5" href="#">Responsive Design</a>
															</div>
														</div>

														<div class="col-sm-6 col-lg-3 mb-4 mb-lg-0">
															<div class="shadow-hover h-100 bg-white px-5 pt-0 pb-5
																text-center up-on-hover">
																<span class="alt-font text-light-gray display-2 font-italic
																	opacity-2">06</span>
																<span class="d-block mb-4"><i class="ti-announcement mb-3
																		display-2 text-grad"></i></span>
																<a class="h5" href="#">Content Writing</a>
															</div>
														</div>



													</div>
													<div class="row">
														<div class="col-12 col-lg-8 mx-auto text-center mt-5">
															<!-- <h6>We have a strong foundation built on legacy and emerging
																technologies, including excellent track record of on-time
																deliveries.</h6> -->
															<a class="btn btn-dark" href="#service">View all services</a>
														</div>
													</div>
												</div>
											</section>


											<section id="protfolio" class="bg-light">
												<div class="col-sm-12">
													<div>
														<h1 style="text-align: center;">portfolio</h1>
														<h4 style="text-align: center;">My recent Work</h4>
													</div>
													<div class="portfolio portfolio-style-2 w-100">
														<div class="portfolio-wrap grid items-3
															items-padding-inside">

															<!-- portfolio-card -->
															<div class="portfolio-card isotope-item">
																<div class="portfolio-card-body">
																	<div class="portfolio-card-header">
																		<img src="assets/images/project1.PNG" alt=""
																			href="#homepage">
																	</div>
																	<div class="portfolio-card-footer">
																		<a class="full-screen"
																			href="assets/images/portfolio/01.jpg"
																			data-fancybox="portfolio" data-caption="Fly in time"><i
																				class="ti-fullscreen"></i></a>
																		<h6 class="info-title"><a href="https://lucky-vacherin-7e3d18.netlify.app" title="">	<i style="height:20px;width:30px" class="ti-github">
																			</i>View</a></h6>
																		<!-- <p>Branding, Watch</p> -->
																	</div>
																</div>
															</div>

															<div class="portfolio-card isotope-item">
																<div class="portfolio-card-body">
																	<div class="portfolio-card-header">
																		<img src="assets/images/project2.PNG" alt="">
																	</div>
																	<div class="portfolio-card-footer">
																		<a class="full-screen"
																			href="assets/images/portfolio/01.jpg"
																			data-fancybox="portfolio" data-caption="Fly in time"><i
																				class="ti-fullscreen"></i></a>
																		<h6 class="info-title"><a href="https://lucky-vacherin-7e3d18.netlify.app" title="">	<i style="height:20px;width:30px" class="ti-github">
																		</i>view</a></h6>
																		<!-- <p>Branding, Watch</p> -->
																	</div>
																</div>
															</div>

															<div class="portfolio-card isotope-item">
																<div class="portfolio-card-body">
																	<div class="portfolio-card-header">
																		<img src="assets/images/project3.PNG" alt="">
																	</div>
																	<div class="portfolio-card-footer">
																		<a class="full-screen" href="assets/images/project3.PNG"
																			data-fancybox="portfolio" data-caption="Fly in time"><i
																				class="ti-fullscreen"></i></a>
																		<h6 class="info-title"><a href="https://lucky-vacherin-7e3d18.netlify.app" title="">	<i style="height:20px;width:30px" class="ti-github">
																		</i>view</a></h6>
																		<!-- <p>Branding, Watch</p> -->
																	</div>
																</div>
															</div>


															<div class="portfolio-card isotope-item">
																<div class="portfolio-card-body">
																	<div class="portfolio-card-header">
																		<img src="assets/images/project4.PNG" alt="">
																	</div>
																	<div class="portfolio-card-footer">
																		<a class="full-screen" href="assets/images/project3.PNG"
																			data-fancybox="portfolio" data-caption="Fly in time"><i
																				class="ti-fullscreen"></i></a>
																		<h6 class="info-title"><a
																				href="https://gmerp.pearttechnology.com/" title="">	<i style="height:20px;width:30px" class="ti-github">
																				</i>view</a></h6>
																		<!-- <p>Branding, Watch</p> -->
																	</div>
																</div>
															</div>

															<div class="portfolio-card isotope-item">
																<div class="portfolio-card-body">
																	<div class="portfolio-card-header">
																		<img src="assets/images/project5.PNG" alt="">
																	</div>
																	<div class="portfolio-card-footer">
																		<a class="full-screen" href="assets/images/project3.PNG"
																			data-fancybox="portfolio" data-caption="Fly in time"><i
																				class="ti-fullscreen"></i></a>
																		<h6 class="info-title"><a
																				href="https://gmerp.pearttechnology.com/" title="">	<i style="height:20px;width:30px" class="ti-github">
																				</i>view</a></h6>
																		<!-- <p>Branding, Watch</p> -->
																	</div>
																</div>
															</div>


															<div class="portfolio-card isotope-item">
																<div class="portfolio-card-body">
																	<div class="portfolio-card-header">
																		<img src="assets/images/project6.PNG" alt="">
																	</div>
																	<div class="portfolio-card-footer">
																		<a class="full-screen" href="assets/images/project3.PNG"
																			data-fancybox="portfolio" data-caption="Fly in time"><i
																				class="ti-fullscreen"></i></a>
																		<h6 class="info-title"><a
																				href="https://gmerp.pearttechnology.com/" title="">	<i style="height:20px;width:30px" class="ti-github">
																				</i>view</a></h6>
																		<!-- <p>Branding, Watch</p> -->
																	</div>
																</div>
															</div>

														</div>
													</div>
												</div>
											</section>


											<!-- =======================
	About us -->

											<!-- contact -->
											<section class="contact-page" style="background-color: white;"
												id="contact">
												<div class="container">
													<div class="row">
														<div class="col-12 col-lg-8 mx-auto">
															<div class="title text-center">
																<h2>Contact</h2>
																<p>Contact for Premium Business Services</p>
															</div>
														</div>
													</div>
													<div class="row">
														<div class="col-md-3 mb-5">
															<div class="contact-box h-100 bg-overlay-dark-7 px-3 py-4"
																style="background:url(assets/images/bg/04.jpg) no-repeat;
																background-size: cover; background-position: center center;">
																<!-- Phone -->
																<div class="contact-info all-text-white">
																	<div class="contact-box-icon"><i class="ti-map-alt"></i></div>
																	<h5 class="mb-2">Address</h5>
																	<p>Dhaka,Dhanmondi32,Shukrabad</p>
																</div>
																<!-- Email -->
																<div class="contact-info all-text-white">
																	<div class="contact-box-icon"><i class="ti-email"></i></div>
																	<h5 class="mb-2">E-mail</h5>
																	<p>ma01776879@gmail.com</p>
																</div>
																<!-- Phone -->
																<div class="contact-info all-text-white">
																	<div class="contact-box-icon"><i class="ti-panel"></i></div>
																	<h5 class="mb-2">Phone</h5>
																	<p>(+880)1776879668</p>
																</div>
															</div>
														</div>
														<!-- google map -->
														<div class="col-md-3 mb-0">
															<div class="h-500">
																<div class="contact-map">
																	<!-- <div style="height: 500px;"> -->
																	<iframe
																		src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3651.89906815639!2d90.37139331429694!3d23.750978394672607!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755bf4d6018f643%3A0x603d2d083289b4a3!2sDhanmondi%2032%20Road%20Bridge%2C%20Dhanmondi%20Bridge%2C%20Dhaka%201209!5e0!3m2!1sen!2sbd!4v1645027601553!5m2!1sen!2sbd"
																		style="border:0;" allowfullscreen="" loading="lazy"></iframe>
																	<!-- </div> -->
																	<!-- <div class="map-wrapper" id="map-silver" data-lat="-37.817274" data-lng="144.955914" data-string="121 King Street, Melbourne
							Victoria 3000 Australia" data-zoom="10"></div> -->
																</div>
															</div>
														</div>
														<!-- contact form -->
														<div class="col-md-6">
															<div class="h-100">
																<h3>Have a project? Let's make something great together!</h3>
																<p>Get in touch with us to see how we can help you with
																	your project</p>
																<form class="contact-form" id="contact-form"
																	name="contactform"
																	action="https://wizixo.webestica.com/assets/include/contact-action.php">
																	<!-- Start form message -->
																	<div class="row">
																		<div class="col-12">
																			<div class="alert alert-success contact-msg"
																				style="display: none" role="alert">
																				Your message was sent successfully.
																			</div>
																		</div>
																	</div>
																	<!-- End form message -->

																	<!-- Start main form -->
																	<div class="row">
																		<div class="col-md-6">
																			<!-- name -->
																			<span class="form-group">
																				<input id="con-name" name="name" type="text"
																					class="form-control" placeholder="Name">
																			</span>
																		</div>
																		<div class="col-md-6">
																			<!-- email -->
																			<span class="form-group">
																				<input id="con-email" name="email" type="email"
																					class="form-control" placeholder="E-mail">
																			</span>
																		</div>
																		<div class="col-md-12">
																			<!-- Subject -->
																			<span class="form-group">
																				<input id="con-subject" name="subject" type="text"
																					class="form-control" placeholder="Subject">
																			</span>
																		</div>
																		<div class="col-md-12">
																			<!-- Message -->
																			<span class="form-group">
																				<textarea id="con-message" name="message" cols="40"
																					rows="6" class="form-control" placeholder="Message"></textarea>
																			</span>
																		</div>
																		<!-- submit button -->
																		<div class="col-md-12 text-center"><button class="btn
																				btn-dark btn-block">Send Message</button></div>
																	</div>
																	<!-- End main form -->
																</form>
															</div>
														</div>
													</div>
												</div>
											</section>



											<footer class="footer bg-light pt-">
												<div class="footer-content">
													<div class="container">
														<div class="row">
															<!-- Footer widget 1 -->
															<div class="col-md-4">
																<div class="widget">
																	
																</div>
															</div>
															<!-- Footer widget 2 -->
															<div class="col-md-3 col-sm-6">
																<div class="widget address" style="background-image:
																	url('assets/images/world-map.png'); background-position:
																	50% 20px; background-repeat: no-repeat; background-size:
																	contain;">
																	<ul class="list-unstyled">
																		<li class="media mb-3"><i class="mr-3 display-8
																				ti-map-alt"></i>Dhaka,Dhanmondi32,Shukrabad </li>
																		<li class="media mb-3"><i class="mr-3 display-8
																				ti-headphone-alt"></i> <p>(+880)1776879668</p> </li>
																		<li class="media mb-3"><i class="mr-3 display-8
																				ti-email"></i> ma01776879@gmail.com</li>
																		<li class="media mb-3"><i class="mr-3 display-8 ti-time"></i>
																			<p> <strong>24/7</strong> hour <strong>Opened</strong></p>
																		</li>
																	</ul>
																</div>
															</div>
															<!-- Footer widget 3 -->
              

           


															<div class="col-md-2 col-sm-6" >
																<div class="widget">
																	<h6>Quick LInks</h6>
																	<ul class="nav flex-column primary-hover">
																		<li class="nav-item"><a class="nav-link"
																				href="#about">About</a></li>
																		<li class="nav-item"><a class="nav-link"
																				href="#contact">Contact</a></li>
																		<li class="nav-item"><a class="nav-link"
																				href="#homepage">Home</a></li>
																		<!-- <li class="nav-item"><a class="nav-link" href="blog-grid-left-sidebar.html">Blog</a></li> -->
																		<li class="nav-item"><a class="nav-link"
																				href="#protfolio">Portfolio</a></li>
																	</ul>
																</div>
															</div>
															<!-- Footer widget 4 -->
															<div class="col-md-3">
																<div class="widget bg-grad p-4 all-text-white
																	border-radius-3">
																	<i class="ti-email newsletter-icon"></i>
																	<p class="mb-2">Subscribe to our newsletter to receive
																		exclusive offers.</p>
																	<div class="form-group mb-0">
																		<input class="form-control border-white mb-3"
																			type="email" placeholder="Enter email...">
																		<button class="btn btn-dark mb-0">Join us</button>
																	</div>
																</div>
															</div>
														</div>
														<!-- Footer widget 4 -->
													</div>
												</div>
												<div class="divider mt-3"></div>
												<!--footer copyright -->
												<div class="footer-copyright py-3">
													<div class="container">
														<div class="d-md-flex justify-content-between
															align-items-center py-3 text-center text-md-left">
															<!-- copyright text -->
															<div class="copyright-text">©2019 All Rights Reserved by <a
																	href="#!"> HTML.</a></div>
															<!-- copyright links-->
															<div class="copyright-links primary-hover mt-3 mt-md-0">
																<ul class="list-inline">
																	<li class="list-inline-item pl-2"><a
																			class="list-group-item-action" href="#">Home</a></li>
																	<li class="list-inline-item pl-2"><a
																			class="list-group-item-action" href="#">About Us</a></li>
																	<li class="list-inline-item pl-2"><a
																			class="list-group-item-action" href="#">Career</a></li>
																	<li class="list-inline-item pl-2"><a
																			class="list-group-item-action" href="#">Privacy Policy</a></li>
																	<li class="list-inline-item pl-2"><a
																			class="list-group-item-action pr-0" href="#">Use of
																			terms</a></li>
																</ul>
															</div>
														</div>
													</div>
												</div>
											</footer>



											<!-- =======================
	footer  -->

											<div> <a href="#" class="back-top btn btn-grad"><i
														class="ti-angle-up"></i></a> </div>

											<!--Global JS-->
											<script src="assets/vendor/wow/wow.min.js"></script>
											<script src="assets/vendor/jquery/jquery.min.js"></script>
											<script src="assets/vendor/popper.js/umd/popper.min.js"></script>
											<script src="assets/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
											<script src="assets/vendor/jquery-easing/jquery.easing.min.js"></script>
											<!--Vendors-->
											<script src="assets/vendor/fancybox/js/jquery.fancybox.min.js"></script>
											<script src="assets/vendor/owlcarousel/js/owl.carousel.min.js"></script>
											<script src="assets/vendor/animated-headline/main.js"></script>
											<script
												src="assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
											<script src="assets/vendor/isotope/isotope.pkgd.min.js"></script>
											<!--Template Functions-->
											<script src="assets/js/functions.js"></script>

										</body>

										<!-- Mirrored from wizixo.webestica.com/index-4.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 04 Aug 2021 17:30:34 GMT -->
									</html>
